* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #fff5ce;
}

.navbar {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0;
    background: #fddaa3;
    border-radius: 35px 35px 0 0;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .05);
}

.navbar button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background: transparent;
    transition: all .25s ease;
}


.navbar button.active {
    color: #fddaa3;
    background-color: #fff5ce;
    border-radius: 50%;
}   

.navbar button i {
    font-size: 1.5rem;
    pointer-events: none;
}


.navbar .effect {
    position: absolute;
    width: 60px;
    height: 50px;
    border-radius: 18px;
    background: #e84c4f26;
    opacity: 0;
}
