* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #fff5ce;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text {
    text-align: center;
    margin: 50px 0;
}

.headline {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.second {
    font-size: 15px;
    max-width: 300px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.continue {
    font-size: 1.5em;
    padding: 20px 0;
    font-weight: bold;
    width: 375px;
    background-color: #FFD36D;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

#buttonContainer {
    max-width: 500px;
    height: 500px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.white, .yellow {
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    margin: 8px;
    border: none;
    text-align: center;
}

.white {
    background: #FFF;
    color: black;
}
.white i {
    background: none;
}
.yellow {
    background: #FFD36D;
    color: white;
}

.yellow i {
    background: none;
}
.white:hover, .yellow:hover {
    background: #ffb300;
    color: white;
}